@import './components/logo';
@import './components/page-header';
@import './components/hero';
@import './components/modal';
@import './components/specifics';
@import './components/works';
@import './components/team';
@import './components/clients';
@import './utils/variables';
@import './utils/placeholder';

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--header-bg-color);
    color: var(--title-text-color);
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
