@import './components/logo';
@import './components/page-header';
@import './components/buttons.portfolio.scss';
@import './components/cards.scss';
@import './components/footer-page';
@import './utils/variables';
@import './utils/placeholder';

address {
    font-style: normal;
}

.logo {
    color: var(--acceny-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio {
    color: var(--second-text-color);
}

.nav-studio {
    color: var(--title-text-color);
}


a.map {
    color: var(--second-text-color);
}

.join-us-title {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--header-bg-color);
    color: var(--title-text-color);
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}