.container-flex {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.card {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.card-link {
    display: block;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-active {
    position: relative;
    overflow: hidden;
}

.text-active {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--header-bg-color);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    margin: 0 0;
}

.card-link:hover .text-active,
.card-link:focus .text-active {
    transform: translateY(0);
    opacity: 1;
}

.card-link:hover .img-active::before,
.card-link:focus .img-active::before {
    transform: translateY(0);
    opacity: 1;
}


.card-link:focus,
.card-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.div.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.example-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.title-text {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 370px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-left: 24px;
    padding-bottom: 24px;
}