.conainer-clients {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.clients {
    color: var(--title-text-color);
    background-color: var(--second-text-color);
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.clientss {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.clients-icon {
    margin-right: 30px;

}

.clients-icon-logo {
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-logo:hover,
.clients-icon-logo:focus {
    border-color: var(--acceny-color);
}

.clients-icon-logo:hover .client-logo,
.clients-icon-logo:focus .client-logo {
    fill: var(--acceny-color);
}
.clients-icon:last-child {
    margin-right: 0;
}

.client-logo {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}