header {
    background-color: var(--header-bg-color);
    border: 1px solid #ECECEC;
}

.item {
    position: relative;
}
.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--acceny-color);
    bottom: 0;
    left: 0;
    margin: -1px;
}
.container-nav {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-navigation {
    display: flex;
    align-items: center;

}

.site-nav {
    margin-left: 93px;
}

.logo {
    margin-right: 93px;
}

.site-nav .item {
    margin-right: 50px;
    display: inline-block;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.nav a {
    display: inline-block;
}

.nav-link {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
    display: flex;
    margin-left: auto;
}


.contact-link {
    font-weight: 500;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: block;
}

.contact-link.mail {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link.tel {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .item+.item {
    margin-left: 50px;
}

.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor
}

.con-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor
}

.nav-link:hover,
.nav-link:focus {
    color: var(--acceny-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--acceny-color);
}

.contact-link.mail:hover,
.contact-link.mail:focus {
    fill: var(--acceny-color);
}
.contact-link.tel:hover,
.contact-link.tel:focus {
    fill: var(--acceny-color);
}
.nav-link.current {
    color: var(--acceny-color);
}